<!--The content below is only a placeholder and can be replaced.-->
<carousel>
  <slide>
    <img src="assets/demo/nature_1.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/demo/nature_2.jpg" alt="Second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/demo/nature_3.jpg" alt="Third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
