<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
      <mat-header-cell *matHeaderCellDef>{{column.display}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element[column.name]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

  </mat-table>

  <mat-paginator *ngIf="options.paging" #paginator
                 [pageSize]="options.pageSize"
                 [pageSizeOptions]="options.pageSizeOptions"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
