<p>
  books works!
</p>

<div class="container">
  <div class="button-row">
    <button mat-raised-button (click)="refresh()" class="sw-button">刷新</button>
    <button mat-raised-button (click)="create()" class="sw-button" color="primary">新增</button>
    <button mat-raised-button (click)="edit()" class="sw-button" *ngIf="current">修改</button>
    <button mat-raised-button (click)="remove()" class="sw-button" *ngIf="current">删除</button>
  </div>

  <sw-ui-grid [columns]="columns" [dataSource]="books" (selected)="onSelected($event)"></sw-ui-grid>

</div>
